<nav id="cover">
  <ul id="headernav" class="list-none">
    <li class="footer-only">
      <% link_to('/feed.xml') do %><%= partial "partials/rss.svg" %><% end %>
    </li>
    
    <li class="footer-only">
      <% link_to('https://twitter.com/d0choa') do %><%= partial "partials/twitter.svg" %><% end %>
    </li>
    
    <li class="footer-only">
      <% link_to('https://github.com/dogcaesar') do %><%= partial "partials/github.svg" %><% end %>
    </li>
    
    <li>
      <% link_to('/blog.html', { :class => 'posts'}) do %><%= partial "partials/blog-ico.svg" %>Blog<% end %>
    </li>
  
    <li>
      <% link_to('/research.html', { :class => 'research'}) do %><%= partial "partials/research-ico.svg" %>Research<% end %>
    </li>
    
    <li>
      <% link_to('/index.html', { :class => 'about'}) do %><%= partial "partials/about-ico.svg" %>About<% end %>
    </li>
  </ul>
</nav>