---
pageable: true
per_page: 10
---

<section>
  <p class="intro">I'm a Postdoctoral Fellow in <a href="http://www.evocellnet.com/p/research.html">Pedro Beltrao's group </a> at <a href="http://www.ebi.ac.uk">EMBL-EBI</a>. My research is focused on disentangling the complexity of biological systems at different levels. The understanding of this complexity plays a key role in the generation of data-driven hypothesis that can reveal the fundamental basis of disease, development, variability, evolution, etc. </p>
  
	<h2>Research interests</h2>
	<p>Genome-wide techniques are opening a new age in the study of biological systems. The generation of large amounts of data makes completely necessary the research in a new generation of concepts in order to process and analyze the incoming results. The integration of all this information is even a more ambitious task in which genomic, transcriptomic, or proteomic information - among others - could be combined to obtain more robust hypothesis.</p>
	
	<p>As part of my post-doctoral research, I'm particularly interested on the evolutionary dynamics, specificity and functional relevance of post-translational modifications (PTMs). Considering the growing proteomic resource available nowadays, the comparative analysis of genome-wide modification sites can provide more insight on the specificity and evolution of the regulatory mechanisms of protein activity.</p>
	
	<p>During my PhD in <a href="http://csbg.cnb.csic.es/">Florencio Pazos' group </a> at <a href="http://www.cnb.csic.es">CNB-CSIC</a>, my research was primary focused on improving computational methods for predicting protein-protein interactions based on coevolution. These methods are founded on the hypothesis that interacting or functionally related proteins tend to adapt to each other during the evolutionary process. On that way, we proposed different modifications to the standard methods in order to take advantage of the growing information on protein sequence data. Moreover, we developed a web server to allow non-expert users to easily explore the tree similarities in a taxonomic context.</p>			
  
  <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
  <aside>
    <a class="twitter-timeline"
      href="https://twitter.com/twitterdev"
      data-widget-id="345520546039087105"
      data-theme="light"
      data-link-color="#00548B"
      data-related="twitterapi,twitter"
      data-aria-polite="assertive"
      height="500">
      Tweets by @d0choa
    </a>
  </aside>
</section>


<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <h3><%= link_to article.title, article %></h3>
      <h5><%= article.date.strftime('%b %e') %></h5>
      <p><%= article.body %></p>
    </li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
